/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.scroll-companies {
  display: flex;
  white-space: nowrap;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
